body {
    background: peachpuff;
    color: black;
    text-align: center;
}
.img-continer{
    cursor: pointer;
}
  
.board-containe {
    margin: auto;
}
 
table {
    margin: auto;
}

.cell {
    width: 35px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
    cursor: pointer;
}

.Shown{
    background: white
}

.loss{
    background: rgb(201, 152, 152)
}

.Figurine{
    position: absolute;
    background: rgb(233, 228, 160);
    border-radius: 10px;
    width:  200px;
    height: 50px; 
}

.lives{
    left:30px;
    top: 330px;
    color: #F3686A;
    transition: 0.6s transform 
}

.timer{
    left:30px;
    top: 390px;
}

.status{
    left:30px;
    top: 450px;
}

.hints{
    left:30px;
    top: 70px;
    cursor: pointer;
}

.safe{
    left:30px;
    top: 190px;
    cursor: pointer;
}

.Manually{
    left:30px;
    top: 130px;
    cursor: pointer;
}

.safeMove{
    background: lightseagreen;
    border: black solid 1px;
}

.records{
    width:  200px;
    height: 200px; 
    right:30px;
    top: 10%;
    border: black solid 1px;
}

.footer{
    height: 50px;
    background: rgb(246, 168, 100);
}




